/* Sidebar */
.sidebar {
    width: 250px;
    background-color: var(--secondary-color);
    border-right: 1px solid #ddd;
    padding: 20px;
}
.logo h2 {
    color: var(--primary-color);
    margin: 0;
}
.logo p {
    font-size: var(--secondary-heading-font-size);
    color: #a1a1a1;
}
.welcome-text p {
    margin: 0;
    font-size: 14px;
    color: #555;
}
.welcome-text h3 {
    margin: 5px 0;
    font-size: 18px;
    color: #333;
}
.welcome-text span {
    font-size: 12px;
    color: #888;
}
.nav-menu ul {
    list-style: none;
    padding: 0;
}
.nav-menu li {
    padding: 10px;
    color: #555;
    cursor: pointer;
}
.nav-menu li.active {
    background-color: #e8e5f2;
    color: var(--primary-color);
}
